/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.sigma-control-container {
    display: grid;
}

.sigma-control-button {
    border: 2px solid green; /* Green border */
    cursor: pointer; /* Pointer/hand icon */
}

.sigma-control-separator {
    height: 15px;
}