/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.sigma-controls-container {
    display: grid;
    position: relative;
}

.sigma-search-container {
    justify-self: center;
    width: 33%;
    position: absolute;
}

#sigma-search {
    display: block;
    padding-inline-start: 36px;
}

#sigma-layout-select {
    left: 0;
    cursor: pointer;
    position: absolute;
}

.sigma-redraw-button {
    position: absolute;
    right: 0;
}

.sigma-fit-button {
	position: absolute;
	right: 0;
	margin-right: 120px;
}

#sigma-scale-slider {
    left: 0;
    margin-left: 150px;
    margin-top: 15px;
    width: 20%;
    position: absolute;
}

.louvain-detail {
    margin: 25px;
}

.louvain-detail-key {
    color: var(--interactive-accent);
    font-weight: bold;
}